Launcher/Service References/UpdateServer/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UpdateServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Server.Core" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUpdateServer_RequestDiff_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestDiff" />
  </wsdl:message>
  <wsdl:message name="IUpdateServer_RequestDiff_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestDiffResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdateServer_RequestCurrentFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestCurrentFiles" />
  </wsdl:message>
  <wsdl:message name="IUpdateServer_RequestCurrentFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestCurrentFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdateServer_GetFilePart_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilePart" />
  </wsdl:message>
  <wsdl:message name="IUpdateServer_GetFilePart_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilePartResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdateServer_GetHashAlg_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHashAlg" />
  </wsdl:message>
  <wsdl:message name="IUpdateServer_GetHashAlg_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHashAlgResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdateServer_GetCurrentVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentVersion" />
  </wsdl:message>
  <wsdl:message name="IUpdateServer_GetCurrentVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdateServer_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IUpdateServer_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IUpdateServer_IsArchived_InputMessage">
    <wsdl:part name="parameters" element="tns:IsArchived" />
  </wsdl:message>
  <wsdl:message name="IUpdateServer_IsArchived_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsArchivedResponse" />
  </wsdl:message>
  <wsdl:portType name="IUpdateServer">
    <wsdl:operation name="RequestDiff">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateServer/RequestDiff" message="tns:IUpdateServer_RequestDiff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateServer/RequestDiffResponse" message="tns:IUpdateServer_RequestDiff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestCurrentFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateServer/RequestCurrentFiles" message="tns:IUpdateServer_RequestCurrentFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateServer/RequestCurrentFilesResponse" message="tns:IUpdateServer_RequestCurrentFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilePart">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateServer/GetFilePart" message="tns:IUpdateServer_GetFilePart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateServer/GetFilePartResponse" message="tns:IUpdateServer_GetFilePart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHashAlg">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateServer/GetHashAlg" message="tns:IUpdateServer_GetHashAlg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateServer/GetHashAlgResponse" message="tns:IUpdateServer_GetHashAlg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateServer/GetCurrentVersion" message="tns:IUpdateServer_GetCurrentVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateServer/GetCurrentVersionResponse" message="tns:IUpdateServer_GetCurrentVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateServer/Update" message="tns:IUpdateServer_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateServer/UpdateResponse" message="tns:IUpdateServer_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsArchived">
      <wsdl:input wsaw:Action="http://tempuri.org/IUpdateServer/IsArchived" message="tns:IUpdateServer_IsArchived_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUpdateServer/IsArchivedResponse" message="tns:IUpdateServer_IsArchived_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUpdateServer" type="tns:IUpdateServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestDiff">
      <soap:operation soapAction="http://tempuri.org/IUpdateServer/RequestDiff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestCurrentFiles">
      <soap:operation soapAction="http://tempuri.org/IUpdateServer/RequestCurrentFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilePart">
      <soap:operation soapAction="http://tempuri.org/IUpdateServer/GetFilePart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHashAlg">
      <soap:operation soapAction="http://tempuri.org/IUpdateServer/GetHashAlg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentVersion">
      <soap:operation soapAction="http://tempuri.org/IUpdateServer/GetCurrentVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IUpdateServer/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsArchived">
      <soap:operation soapAction="http://tempuri.org/IUpdateServer/IsArchived" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdateServer">
    <wsdl:port name="BasicHttpBinding_IUpdateServer" binding="tns:BasicHttpBinding_IUpdateServer">
      <soap:address location="http://localhost:8733/Minelauncher/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>