Launcher/Service References/UpdateServer/Server.Core.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FileState">
    <xs:sequence>
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsRemoved" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileState" nillable="true" type="tns:FileState" />
</xs:schema>